* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
}

@media only screen and (max-width: 24em) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: #ecf2f8;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100rem;
  max-width: 120rem;
}

@media only screen and (max-width: 24em) {
  .container {
    width: 100%;
    padding: 2rem;
  }
}

.article {
  width: 50%;
  margin-inline: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  border-radius: 1.2rem;
  -webkit-box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 24em) {
  .article {
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    position: absolute;
    top: initial;
    left: initial;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

.article__image {
  background-image: url(../images/drawers.jpg);
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

@media only screen and (max-width: 24em) {
  .article__image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

.article__content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  background-color: white;
  padding: 3rem 4rem;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.8rem;
}

@media only screen and (max-width: 24em) {
  .article__content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

.article__content__title {
  color: #48556a;
  font-weight: 700;
}

.article__content__preview {
  color: #6d7f97;
  font-size: 1.3rem;
  line-height: 1.6;
}

.article__content__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.7;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 24em) {
  .article__content__footer {
    font-size: 120%;
    margin-top: 2rem;
  }
}

.article__content__footer__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.4rem;
}

.article__content__footer__author__image {
  border-radius: 50%;
  width: 4.5rem;
}

.article__content__footer__author__name {
  color: #48556a;
}

.article__content__footer__author__date {
  color: #6d7f97;
}

.article__content__share {
  background-color: #ecf2f8;
  padding: 1rem;
  border-radius: 50%;
}

.article__content__share:hover {
  cursor: pointer;
}

/* .message-box{
  background-color: $color-very-dark-grayish-blue;
  text-align: center;
  width: 10%;
  height: 3rem;
  margin-left: 10rem;
  border-radius: 1rem;
  border: 1px solid red;
  display: inline-block;
  display: none;
  //clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 60% 85%, 50% 100%, 40% 85%, 0% 85%);
} */
.attribution {
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
